.papiro2 {
  background-color: #f2eeea; /* Color del pergamino */
  padding: 1.25rem;
  border: 1px solid #c0c0c0; /* Borde del pergamino */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra del pergamino */
  font-family: Georgia, "Times New Roman", Times, serif; /* Fuente similar a la de un pergamino */
  font-size: 1.125rem;
  line-height: 1.5;
}
#username {
  font-size: 3.125rem;
}

.card-shadow {
  box-shadow: -8px 10px 13px 0px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: -8px 10px 13px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -8px 10px 13px 0px rgba(0, 0, 0, 0.59);

  margin-bottom: 15px;
}
.cardImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff; /* Cambia el color si lo deseas */
  color: white;
  border: none;
  border-radius: 50%; /* Hace que el botón sea redondo */
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-back-to-top:hover {
  background-color: #0056b3; /* Cambia el color al pasar el cursor */
}
